*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
.footer__end{
  background-color: #1f343b   ;
}
.footer__endcontainer{
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 5px;
  
}
.footer__endcontainer span{
  color: #f55f8d;
}
.footer__endcontainer i{
  width: 40px;
  height: 40px;
  background-color: rgba(255,255,255,.1);
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  color: white;
  transition: 0.5s;
}

.footer__endcontainer a:hover i{
background: #f55f8d;
}