.bbb {
    position: relative;
}
.header__menu {
    height: 0;
    transition: 5s;
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
}
.bbb:hover .header__menu {
    background-color: black;
    height: 100px;
}