*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: px;
    letter-spacing: 1px;
}
h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}
/* HEADER  */
header{
    background: #4e2a84;
}
.container{
    width: 70%;
    margin: 0 auto;
}
.header__container{    
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    font-size: 2.3rem;
}
nav{
    display: flex;
}
.header__container a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
}
.header__container a:hover{
    color: #ff0e83;
}
/* CAROUSEL  */
.carousel{
    background: url(./image/b3.jpg);
    background-size: cover;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
}
.carousel__container h2{
    font-size: 3.5rem;  
    text-transform: capitalize;
}
.carousel__container p{
    font-size: 1.1rem;
    margin: 23px 0;
}
.carousel__container button{
    background-color: #ff0e83;
    padding: 13px 32px;
    font-size: 0.875rem;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: wait;
    font-weight: 500;
    transition: 0.3s;
}
.carousel__container button:hover{
    background: white;
    color: black;
}
/* INTRO  */
.intro{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.intro h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.intro p{
    color: #c1c1c1;
    font-size: 0.875rem;
    line-height: 29px;
}
.intro img{
    width: 100%;
    display: block;
}
.intro .intro__text{
    display:flex;
    align-items: center;
    text-align: center;
    padding: 0 32px;
}
.intro .intro__item:first-child{
    background-color: #4e2a84;
}
.intro .intro__item:nth-child(2){
    grid-column: 2 / 4;
}
.intro .intro__item:nth-child(3){
    background: #ff0e83;
}
.intro .intro__item:nth-child(4){
    grid-column: 1/ 3;
    background-color: #ed6498;
}
.intro .intro__item:nth-child(6){
    background-color: #836eaa;
}
.intro .intro__item:nth-child(8){
    background-color: #4e2a84;
}
.intro .intro__item:last-child{
    grid-column: 3/ 5;
}
/* NUMBER  */
.number{
    padding: 70px 0;
}
.number__container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.number__item p:first-child{
    font-size: 2rem;
    color: #4e2a84;
    font-weight: 600;
}
.number__item p:last-child{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px 0;
}
/* SERVICES  */
.services{
    background: url(./image/s1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 70px 0px;
}
.services__container{
    display: flex;
}
.services__container .service__item{
    text-align: center;
    padding: 0 20px;
}
.service__item i{
    width: 105px;
    height: 105px;
    font-size: 60px;
    border: 1px solid  #4e2a84;
    border-radius: 60px;
    background: white;
    color: #4e2a84;
    line-height: 105px;
}
.service__item h2{
    margin: 20px 0px;
}
.service__item button{
    background-color: #ff0e83;
    color: white;
    border: 1px solid white;
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 13px 32px;
    margin-top: 20px;
    transition: 0.5s;
    cursor: crosshair;
}
.service__item button:hover{
background: white;
color: black;
}
/* GALLERY  */
.gallery__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
/* FEEDBACK  */