*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}
html,body{
    color: #8d8d8d ;
    background-color: #faf4f2;
}
 /* Header  */
 .header{
    padding: 10px 70px;
 }
 .header ul {
list-style: none;
margin-top: 10px;
 }
 .header li{
    display: inline;
    margin-right: 40px ;
 }
 .header a{
    color: #3b3735;
    font-size: 18px;
    text-decoration: none;
 }
  /* Carousel */
  .carousel{
    background-image: url(../Image/BG.png);
    height: 600px;
    background-position: center;
    background-size: cover;
  }
  