*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
/* header  */
.container{
    width: 70%;
    margin: 0 auto;
}
.header__container{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    color: white;
    background: black;
    align-items: center;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 0 20px;
}
nav a:hover{
    color: #e62b4a;
}
.header__container .header__logo{
    display: flex;
    border: 2px solid red;
    align-items:center;
    font-size: 30px;
}
/* BANNER  */
.carousel{
    background: url(./image-video/home_slider.jpg);
    height: 90vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    text-align: center;
}
.carousel__content{
    display: flex;
    /* justify-content: center; */
    flex-direction:column;
    align-items: center;
}
.carousel__content h2{
    font-size: 75px;
    margin: 10px 0;
    line-height: 90px;
}
.carousel__content button{
    background: #e62b4a;
    color: white;
    padding: 10px 40px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: wait;
    font-size: 20PX;
    margin-top: 10px;
}
.carousel__content button:hover{
    background: #af2239;
}
/* SERVICES  */
.services{
    background: white;
}
.services__title{
    color: white;
    text-align: center;
}
.services__title p{
    color: #e62b4a;
    font-size: 15px;
    font-weight: 300;
}
.services__title h3{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}
.services__title #pcolor{
    color: #888888;
    font-size: 18px;
    font-weight: 500;
}
.services__list{
    border: 2px solid red;
    /* height: 200px; */
}
.services__item{
    border: 2px solid blue;
    margin: 0px 20px;
    height: 200px;
    position: relative;
    padding: 15px;
}
.services__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services__item::after{
content: "";
width: 7px;
height: 0;
top:0 ;
right: 0;
background: red;
position: absolute;
transition: 0.3s;
}
.services__item:hover::after{
    height: 100%;
}